*{
    margin: 0;
    padding: 0;
}
#header{
    font-family: 'Poppins',sans-serif;
    text-align: center;
}
#header h1{
    font-weight: 900;
    font-size: 50px;
}
#header p{
    font-weight: 700;
}
#calculator{
    background-color: #272727;
    width: 300px;
    margin-top: 100px;
    border-radius: 6px;
    height: fit-content;
}
.ac{
    background-color: #F25C05;
    color: #F2F2F2;
    font-family: 'Poppins', sans-serif;
    width: 50%;
    border-radius: 5px;
    border: #272727;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}
.button{
    background-color: #262626;
    color: #F2F2F2;
    font-family: 'Poppins',sans-serif;
    border: 1px solid #F2F2F2;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 20%;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    transition: all .5s;
}
.number:hover{
    background-color: #F2F2F2;
    color: #272727;
    transition: all .5s;
}
.count:hover{
    background-color: #272727;
    color: #F2F2F2;
    transition: all .5s;
}
.sqrt{
    font-weight: 900;
}
#result{
    background-color: #F2F2F2;
    color: #272727;
    font-family: 'Poppins',sans-serif;
    font-weight: 800;
    font-size: 30px;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
}
.resultOperation{
    color: #8C3908;
    text-align: right;
    font-size: 30px;
    margin-bottom: 15px;
}
.count{
    background-color: #F2F2F2;
    color: #272727;
}
.menu{
    color: #F2F2F2;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
}
.menuX{
    color: #F2F2F2;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
}
.expo{
    display: inline-block;
    font-size: 10px;
}
#extras{
    display: none;
}
.animatedMenu{
    animation-name: menuAnim;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.animatedMenuB{
    animation-name: menuAnimB;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes menuAnim{
    from{transform: rotate(0);}
    to{transform: rotate(360deg);}

}
@keyframes menuAnimB{
    from{transform: rotate(360deg);}
    to{transform: rotate(0);}

}
.detailSystem{
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    color: #F2F2F2;
    font-size: 10px;
}
#advancedMenu{
    background-color: #F2F2F2;
    color: #272727;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    display: none;
}
#advancedMenu p{
    margin-top: 10px;
    font-weight: 700;
    font-size: 11px;
    text-decoration: underline;
}
#advancedMenu h5{
    font-size: 16px;
}
#lastRecord{
    visibility: hidden;
}


#extraInfoBlob{
    background-color: #F2F2F2;
    color: #272727;
    padding: 2px;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
    animation: infoBlobAnim 10s  1;
    display: none;
}
@keyframes infoBlobAnim{
    0%{display: block;opacity: 10%;}
    20%{display: block;opacity: 30%;}
    40%{display: block;opacity: 50%;}
    60%{display: block;opacity: 70%;}
    80%{display: block;opacity: 90%;}
    100%{display: block;opacity: 100%;}
}
#operationInfo{
    background-color: #F2F2F2;
    color: #262626;
    padding: 5px;
    font-weight: 900;
    width: 30%;
    font-size: 25px;
    margin-bottom: 15px;
    border-radius: 0 0 20px 20px;
}
